@media only screen and (max-width: 768px) {
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .cover {
    background-position: -25vmin -10vmin;
  }
  .rect {
    width: 9rem;
    height: 8rem;
  }
  .rect h1 {
    font-size: 2rem;
  }
  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .row .col-md-6 {
    text-align: center !important;
  }
  .section-4 .carousel-item {
    padding-left: 0.2rem;
  }
  .section-4 .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carousel-inner {
    width: 25rem;
  }
  .card {
    width: 24rem;
  }
}
